---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<h1> Welcome!</h1>

I am an incoming software engineer at <a href="https://www.microsoft.com/en-us/">Microsoft</a>, where I'll be working on the Edge team for Azure Cloud Platform. Before joining Microsoft, I will graduate from UC Berkeley in 2021 with a Computer Science major.
<br> </br>
Outside of my job, I like to compete in programming competitions. I am on the UC Berkeley ACM-ICPC team (Berkeley Gold). I have fun on other websites: I am ranked #1 in South Korea on <a href="https://www.leetcode.com/BlackpinkLisa>">Leetcode</a> and ranked #24 in the world on <a href="https://www.binarysearch.com/@/Lee">Binarysearch</a>
<br></br>
<h4> Me on the Internet</h4>
<table cellpadding="0" cellspacing="0" style="width:100%">
  <tr>
    <td><img src="/assets/favicons/linkedin.png" alt="linkedin.com" width="16px"><a href="https://linkedin.com/in/samatbryan">Linkedin</a></td>
    <td><img src="/assets/favicons/youtube.com.png" alt="youtube.com" width="16px"><a href="https://youtube.com/user/samatbryan"> Youtube</a></td>
    <td><img src="/assets/favicons/quora.com.png" alt="quora.com" width="16px"><a href="https://www.quora.com/profile/Samuel-Lee-420"> Quora</a></td>
  </tr>
  <tr>
    <td><img src="/assets/favicons/leetcode.png" alt="leetcode.com" width="16px"><a href="https://leetcode.com/BlackpinkLisa"> Leetcode</a></td>
    <td><img src="/assets/favicons/binarysearch.com.png" alt="binarysearch.com" width="16px"><a href="https://binarysearch.com/@/Lee"> Binarysearch</a></td>
  </tr>
</table>
</br>

<h4> Education </h4>
<li> CS @ <a href="https://www.berkeley.edu/">UC Berkeley</a></li>
<li> AAST @ <a href="https://bca-admissions.bergen.org/">Bergen County Academies</a></li>
<br />
<h4> Recent Work </h4> 
<span>
  <img src="/assets/microsoft-logo.png" alt="drawing" style="width:100px;height:100px;"/>
  <b> Software Engineer @ Azure Cloud Platform, Edge </b>
</span>
<br />
<span>
  <img src="/assets/amazonlogo.png" alt="drawing" style="width:100px;height:100px;"/>
  <b> Software Engineer Intern @ Alexa AI Distributed ML/DL Platform </b>
</span>
<br />
<span>
  <img src="/assets/accenturelogo.png" alt="drawing" style="width:100px;height:100px;"/>
  <b> AI Research Intern @ Systems and Platforms </b>
</span>
<br />
<h4> Hobbies </h4>
<li> Leetcode.com: <code class="language-plaintext highlighter-rouge">Top 1% (2200+ rating)</code><a href="https://www.leetcode.com/BlackpinkLisa">@BlackpinkLisa</a> </li>
<li> Binarysearch.com:<code class="language-plaintext highlighter-rouge">Top 25 (1900+ rating)</code> <a href="https://www.binarysearch.com/@/Lee">@Lee</a> </li>
<li> Chess: <code class="language-plaintext highlighter-rouge">1600+ classical rating</code> </li>
<br />
<h4> Life </h4>
<li> Raised in New Jersey, USA</li>
<br />

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

