---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<h1> Welcome! </h1>

My name is Samuel (Sunghun Lee). I am an undergraduate senior graduating May 2021 at UC Berkeley. I study computer science and mathematics. Nice to meet you!





{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
