---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<h1> Welcome! </h1>

My name is Samuel (Sunghun Lee). I am an undergraduate senior graduating May 2021 at UC Berkeley. I study computer science and mathematics. Nice to meet you!
<br> </br>

<h3> Quick Facts </h3>
<li> Senior at UC Berkeley - Computer Science </li>
<li> Software Engineer @ Microsoft - Azure Cloud Platform [starting Fulltime July 2021]</li>
<li> Software Engineer Intern @ Amazon - Alexa AI Distributed ML/Deep Learning Platform</li>
<li> Leetcode: ~15 contests: <code class="language-plaintext highlighter-rouge">Top 2% (1900+ rating)</code> </li>
<li> Chess: <code class="language-plaintext highlighter-rouge">1600+ classical rating</code> </li>

<li> Raised in New Jersey, USA</li>




{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
